<ul class="chosen-options">
  <li class="billing" id="bill_amount">
    <%= calculate_total_price() %>/-
  </li>
  <li class="checkout">
    <%= link_to "GO TO CART ", '/review_order', :id=> "checkout_link", :class=> "icon-next" %>
  </li>
</ul>