<div class="container-fluid back-white">
  <div class="seperator-10 card-header">
    <p>Order Confirmation</p>
  </div>
</div> <!-- fluid container ends -->

<div class="container-fluid back-white seperator-2">
  <div class="seperator-5 back-white">
    <p class="hola-text">Hola! Thanks for placing your order.
      <br><br>
      Elvis (our darling van) is on its way
      with your food.<br>
      Should be there in 30min..</p>
  </div>
</div>

<div class="container-fluid back-white seperator-10">
  <div class="seperator-5 card-header">
    <p>Need an invoice?</p>
  </div>
</div> <!-- fluid container ends -->

<div class="container-fluid back-white seperator-2">
  <div class="card-body">
    <input type="email" class="lower-only active" placeholder="Enter email" id="u-email">
  </div>
</div>

<div class="container-fluid back-white seperator-10">
  <div class="seperator-10 card-header">
    <p>TWEET FOR REWARD</p>
  </div>
</div>

<div class="container-fluid back-white seperator-2">
  <div class="card-body">
    <p class="text-grey text-left">Show us some love and get 10/- off
      your next order..</p>
    <div class="seperator-10 text-center">
      <button class="btn btn-golden" type="button" id="tweet-hola">Tweet</button>
    </div>
  </div>