<div class="right-body">
    <div class="container-fluid back-white">
      <div class="seperator-10 card-header">
        <p>Options</p>
      </div>
    </div> <!-- fluid container ends -->

    <div class="container-fluid back-white seperator-2">

        <ul class="pay-options">
          <li class="payby"><%= link_to "Cash on Delivery", "/order-confirm/#{@order.id}" %></li>
          <li class="payby"><%= link_to "Credit Card Swipe on Delivery", "/order-confirm/#{@order.id}" %></li>
          <li class="payby"><%= link_to "Netbanking", "#", :data=>{:paymentMode => "NET_BANKING", :orderId => @order.id}, :class => 'payment_mode' %></li>
          <li class="payby"><%= link_to "Prepaid Balance", "#", :data=>{:paymentMode => "DEBIT_CARD", :orderId => @order.id}, :class => 'payment_mode' %></li>
        </ul>
      <div class="payment_form"></div>


</div>

    <div class="container-fluid back-white seperator-10">
      <div class="seperator-5 card-header">
        <p>Ongoing Promotions</p>
      </div>
    </div> <!-- fluid container ends -->

    <div class="container-fluid back-white seperator-2">
      <div class="seperator-10">
        <p class="hola-text">
          Hola! Fill your prepaid balance with Rs 500 or more before May 31st and get 10% extra for being Loyal</p>
      </div>
    </div>
</div>