
  <div class="container-fluid back-white">
      <div class="grey-header">
          <h4 class="text-uppercase text-center grey-text">Choose your option</h4>
      </div>
  </div> <!-- fluid container ends -->

  <div class="container-fluid back-white seperator-2">

   
        <ul class="pay-options-radio">
        <li class="orange-check">
              <input name="pay-by" id="radio-cod" class="css-checkbox" type="radio">
              <%= link_to "Cash/ Card on Delivery", "/order-confirm/#{@order.id}?payment_mode=cash_on_delivery" , :class => 'payment_mode_color' %>
        </li>
        <li class="orange-check">
              <input name="pay-by" id="radio-nbanking" class="css-checkbox" type="radio">
              <%= link_to "Netbanking", "#", :data=>{:paymentMode => "NET_BANKING", :orderId => @order.id}, :class => 'payment_mode payment_mode_color' %>
        </li>
      </ul>

<!--
<ul class="pay-options-radio">
        <li class="orange-check">
              <input name="pay-by" id="radio-cod" class="css-checkbox" type="radio">
              <label for="radio-cod" class="css-label">Card/Cash on Delivery</label>
        </li>
        <li class="orange-check">
              <input name="pay-by" id="radio-nbanking" class="css-checkbox" type="radio">
              <label for="radio-nbanking" class="css-label">Net Banking</label>
        </li>
      </ul>

    -->  
    <div class="payment_form"></div>


</div>

  <!--<div class="container-fluid back-white seperator-10">
    <div class="seperator-5 card-header">
      <p>Ongoing Promotions</p>
    </div>
  </div> &lt;!&ndash; fluid container ends &ndash;&gt;

  <div class="container-fluid back-white seperator-2">
    <div class="seperator-10">
      <p class="hola-text">
        Hola! Fill your prepaid balance with Rs 500 or more before May 31st and get 10% extra for being Loyal</p>
    </div>
  </div>
-->