$("#total_price").val("<%=@total%>");
$("#bill_amount").html("<%=@total%>/-");
$("#review_order_total").html("<%=@total%>");
if (<%= session[:cart].blank? %>){
    $("#checkout_link").addClass("text-grey");
    $("#checkout_link").attr("href","#")
    $("#select_payment").html(" <a class='text-orange text-grey' href='#'>Select Payment Method</a>");
}