<div class="modal fade" id="reviewAlert" data-keyboard="false" data-backdrop="false"  tabindex="-1">
  <div class="modal-dialog modal-sm modal-alert">
    <div class="modal-content">
      <div class="modal-header">                    
        <%= image_tag ('/assets/hola-logo-xs.png'), :id => 'review_page_modal_logo' %> &nbsp; &nbsp; POST YOUR REVIEW          
        <button data-dismiss="modal" class="btn-close pull-right">x</button>
      </div>
      <div class="modal-body">                             
        <textarea name="food_item_review" id="review" data-order-id="" data-food-item-id="" ></textarea><br/><br/>
        <button id="submit_review" class="btn btn-saffron">Submit</button>
      </div>        
    </div>
  </div>
</div>
