<div class="message">
  <div class="created_at"><%= cuisine_geography.created_at.strftime("%B %d, %Y") %></div>
  <div class="content">
    <%= cuisine_geography.name %>
  </div>
  <div class="actions">
    <%= link_to "Reply", "/cms/cuisine_geographies/new?parent_id=#{cuisine_geography.id}" %> |
    <%= link_to "Destroy", "/cms/cuisine_geographies/#{cuisine_geography.id}", :confirm => "Are you sure?", :method => :delete %>
  </div>
</div>