<div class="message">
  <div class="created_at"><%= cuisine_geography.created_at.strftime("%B %d, %Y") %></div>
  <div class="content">
    <%= cuisine_geography.name %>
  </div>
  <div class="actions">
    <%= link_to "Add Sub Cuisine", "/cms/cuisine_geographies/new?parent_id=#{cuisine_geography.id}" %> |
    <%= link_to "Delete", "#", :class => "delete_cuisine", :data => {:cuisine => cuisine_geography.id} %>
  </div>
</div>
