<div class="fields">
  <div class="fields text_editor_fields">
    <%= f.label :tips %>
    <%= f.text_area :tips, :class => "tips_textarea" %>
  </div>
  <span style="margin-left: 140px;margin-top: 10px;display: table;">
    <%= link_to_remove_fields "Remove Tips", f %>
  </span>
</div>
<style>
    .tips_textarea{
        width: 100px !important;
        height: 100px !important;
    }
</style>