<div class="container-fluid seperator-10">
<div class="row row-offcanvas row-offcanvas-left">
<div class="col-xs-12">
<div class="container">
  <div class="chef-page">
    <div class="row">
      <div class="col-xs-12">
        <ul class="profile-details">
          <li class="profile veg cover-block">
            <ul class="cover-image">
              <li class="cover cover-photo hidden"><img class="img-responsive center-block" src="/assets/chef-cover.jpg" alt=""></li>
              <li class="cover cover-text">
                <h1 class="lemon text-white">Dal Baati</h1>
                <p class="text-white roboto-r">Cooked this dish ? Upload a Photo</p>
              </li>
            </ul>
          </li>
          <li class="profile profile-heart"><div class="add-heart"></div></li>
          <li class="profile profile-dp"><img class="img-responsive img-circle center-block" src="/assets/user-pic.jpg" alt="User Pic"></li>
          <li class="profile user-name by">Sandeep Sreedharan</li>
          <li class="profile user-level">Hola Master</li>
          <li class="profile user-city">
            <span class="area">Powai</span>
            <span class="city">Mumbai</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="normal-header">
        <h3 class="roboto">About</h3>
      </div>
      <div class="normal-block">
        <p class="text-left text-6">Esca Brahma - (Esca means food in Latin and Brahma is creation)is all about culinary creation! It’s about culture and sensitivity! Welcome to and enjoy my world of creating private gourmet experience.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="normal-block">
        <ul class="recipe-info">
          <li>Cooking time<span>90min</span></li>
          <li>Serves<span>5</span></li>
          <li>Cuisine<span class="comma">Rajasthani</span><span class="comma">North Indian</span></li>
          <li>Tags<span class="comma"><a href="#">Meal</a></span><span class="comma"><a href="#">Dinner</a></span><span class="comma"><a href="#">Heavy</a></span><span class="comma"><a href="#">Vegitarian</a></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="normal-header">
        <h2 class="roboto-l">Ingredients</h2>
      </div>
      <div class="normal-body">
        <div class="recipe-ingredients">
          <h3 class="dark-title">Panchmel Dal</h3>

          <ul class="ingredients-list">
            <li class="ingredient"><span class="quantity">1/3</span><span class="unit">cup</span><span class="name">chana dal</span><span class="google pull-right"><a class="text-hide" target="_blank" href="https://www.google.co.in/?#q=chana+dal">Search</a></span></li>
            <li class="ingredient"><span class="quantity">1</span><span class="unit">tbsp</span><span class="name">urad dal</span><span class="google pull-right"><a class="text-hide" target="_blank" href="https://www.google.co.in/?#q=chana+dal">Search</a></span></li>
            <li class="ingredient"><span class="quantity">1/3</span><span class="unit">cup</span><span class="name">cummin seeds (jeera)</span><span class="google pull-right"><a class="text-hide" target="_blank" href="https://www.google.co.in/?#q=chana+dal">Search</a></span></li>
          </ul>

          <h3 class="dark-title">Baatis (10 pcs)</h3>

          <ul class="ingredients-list">
            <li class="ingredient"><span class="quantity">1/3</span><span class="unit">cup</span><span class="name">chana dal</span><span class="google pull-right"><a class="text-hide" target="_blank" href="https://www.google.co.in/?#q=chana+dal">Search</a></span></li>
            <li class="ingredient"><span class="quantity">1</span><span class="unit">tbsp</span><span class="name">urad dal</span><span class="google pull-right"><a class="text-hide" target="_blank" href="https://www.google.co.in/?#q=chana+dal">Search</a></span></li>
            <li class="ingredient"><span class="quantity">1/3</span><span class="unit">cup</span><span class="name">cummin seeds (jeera)</span><span class="google pull-right"><a class="text-hide" target="_blank" href="https://www.google.co.in/?#q=chana+dal">Search</a></span></li>
          </ul>

        </div>
      </div>
      <div class="normal-header">
        <h2 class="roboto-l">Directions</h2>
      </div>
      <div class="normal-body">
        <div class="recipe-directions">

          <h3 class="dark-title">Panchmel Dal</h3>

          <ol class="direction-list">
            <li class="text">Clean and wash the dals and add 4 cups of water. </li>
            <li class="text">Pressure cook for 2 to 3 whistles or till the dals are cooked.</li>
            <li class="text">In a bowl, combine the chilli powder, turmeric powder, coriander powder, garam masala with 3 tablespoons of water and mix well. Keep aside.</li>
            <li class="text">Heat the ghee in a pan and add the cloves, bay leaves, cumin seeds, green chillies and asafoetida. </li>
            <li class="text">When the cumin seeds crackle, add the prepared masala paste and saut for 1 to 2 minutes.</li>
            <li class="text">Add the cooked dals, amchur, tamarind pulp and salt and simmer for 5 to 7 minutes.</li>
            <li class="text">Adjust the consistency of the dal before serving and if required, add some water.</li>
          </ol>
          <div class="direction-image">
            <img class="img-responsive center-block" src="/assets/dal-pic.jpg" alt="dal">
          </div>


          <h3 class="dark-title">Baatis</h3>

          <ol class="direction-list">
            <li class="text">Mix all the ingredients and knead into a firm dough. Knead well for 5 to 7 minutes.</li>
            <li class="text">Divide the dough into 10 equal portions and shape each portion into an even sized round. </li>
            <li class="text">Flatten the rounds lightly using your thumb to make an indentation in the centre of the baati.</li>
            <li class="text">Boil water in a broad vessel and drop the baatis in the boiling water. Cook for 15 to 20 minutes over a high flame.</li>
            <li class="text">When the baatis are done, drain and keep aside.</li>
            <li class="text">Heat a gas tandoor and put the baatis on the grill of the tandoor. Cook them on a medium flame for 20 to 25 minutes.</li>
            <li class="text">Cooking the baatis over a medium flame will ensure that the baatis are cooked on the insides also.</li>
            <li class="text">Arrange the baatis on a serving plate, break each baati into two pieces and pour melted ghee on the baatis.</li>
          </ol>
          <div class="direction-image">
            <img class="img-responsive center-block" src="/assets/baati-pic.jpg" alt="dal">
          </div>

        </div>
      </div>

      <div class="normal-header">
        <h2 class="roboto-l">Tips</h2>
      </div>
      <div class="normal-body">
        <div class="recipe-directions">
          <ol class="direction-list">
            <li class="text">Pour hot panchmel dal over the baatis.</li>
            <li class="text">Serve hot with churma.</li>
            <li class="text">You can cook the baatis in a gas tandoor without boiling them.</li>
            <li class="text">Alternatively bake the boiled baatis in a pre-heated oven at 200°C (400°F) for 10 to 15 minutes turning them over occasionally.</li>
            <li class="text">Or even deep fry them in hot ghee instead of cooking them in a tandoor.</li>
          </ol>

        </div>
      </div>

    </div>
    <div class="container">
      <div class="hola-rating seperator-10">
        <div class="add-heart">
          <ul class="rating-block">
            <li class="five-stars">
              <div id="star"></div>
            </li>
            <li class="review-count">
              <span class="count">83</span>
              <span class="ask-rate"><a href="#">Rate it</a></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="container seperator-10">
        <div class="normal-body">
          <p class="text-6 text-center">This is a signature dish and can be made to order</p>

        </div>
        <div class="min-order-block text-center">
          <h3>Minimum Order Details</h3>

          <ul class="block-3">
            <li class="each-block">
              <a href="#">
                <span id="served-count" class="upper roboto-b">20</span>
                <span class="lower text-uppercase">Portions</span>
              </a>
            </li>
            <li class="each-block">
              <a href="#">
                <span id="recipe-count" class="upper roboto-b">2</span>
                <span class="lower text-uppercase">Days Notice</span>
              </a>
            </li>
            <li class="each-block">
              <a href="#">
                <span id="fan-count" class="upper roboto-b">180/-</span>
                <span class="lower text-uppercase">Per Portion</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="normal-body text-center">
          <button class="btn-golden col-xs-8 col-xs-push-2 roboto-b text-6" type="button">Order it</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 sidebar-offcanvas hola-sidemenu" id="sidebar" role="navigation">
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading active" id="user-name">Abhishek Thakkar</h4>
          <p class="list-group-item-text " id="user-contact">9876543210</p></a>
        <a href="#" class="list-group-item"><span class="sprite icon-home"></span>Home</a>
        <a href="#" class="list-group-item"><span class="sprite icon-signature"></span>Signature Dishes</a>
        <a href="#" class="list-group-item"><span class="sprite icon-party-order"></span>Party Orders</a>
        <a href="#" class="list-group-item"><span class="sprite icon-recipe"></span>Recipes</a>
        <a href="#" class="list-group-item"><span class="sprite icon-favorite"></span>Favorites</a>
        <a href="#" class="list-group-item"><span class="sprite icon-order-history"></span>Order History</a>
        <a href="#" class="list-group-item"><span class="sprite icon-address"></span>Addressbook</a>
        <a href="#" class="list-group-item"><span class="sprite icon-email"></span>Talk to us</a>
        <a href="#" class="list-group-item"><span class="sprite icon-share"></span>Love us?</a>
        <a href="#" class="list-group-item"><span class="sprite icon-gear"></span>Settings</a>
      </div>
    </div>
  </div>
</div> <!-- fluid container ends -->