<div class="col-xs-12">

  <div class="container-fluid back-white seperator-10">
    <h6 class="page-title">Tell a Friend</h6>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div class="hola-cards">
        <ul class="social-cards text-center">


        	<li><a href="#" onclick="parent.socail_click('http://www.facebook.com/sharer.php?u=http://www.holachef.com')"><span><img class="img-responsive center-block" src="/assets/facebook-icon.png" alt="Facebook"></a></span></li>
          <li><a href="#" onclick="parent.socail_click('https://twitter.com/intent/tweet?text=Check out this&url=http://www.holachef.com')"><span><img class="img-responsive center-block" src="/assets/twitter-icon.png" alt="Twitter"></a></span></li>
	<li><a href="/tell_friends"><span><img class="img-responsive center-block" src="/assets/email-icon.png" alt="Email"></a></span></li>
          <li><a href="#"><span><img class="img-responsive center-block" src="/assets/cell-icon.png" alt="Call"></a></span></li>
        </ul>
      </div>

    </div>
  </div>


</div>
<!-- #wrap ends -->
