<div id="wrap">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="hola-menu">
    <div class="container">
      <div class="navbar-header">
        <ul class="navbar-titlebar">
          <li class="side-menu-btn">
            <button type="button" class="navbar-toggle pull-left" data-toggle="offcanvas" data-target="#sidebar" >
              <span class="sr-only">Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </li>
          <li><a class="btn-back text-hide" href="landing.html">Back</a></li>
          <li><a class="navbar-brand" href="index.html">Hola</a></li>
          <li class="page-title">Love Us</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-12">

        <div class="container-fluid back-white seperator-10">
          <h6 class="page-title">Tell a Friend</h6>
        </div>

        <div class="row">
          <div class="col-xs-12">

            <div class="hola-cards">
              <ul class="social-cards text-center">


              <li><a href="#" onclick="parent.socail_click('http://www.facebook.com/sharer.php?u=http://www.holachef.com')"><span><img class="img-responsive center-block" src="/assets/facebook-icon.png" alt="Facebook"></a></span></li>
                <li><a href="#" onclick="parent.socail_click('https://twitter.com/intent/tweet?text=Check out this&url=http://www.holachef.com')"><span><img class="img-responsive center-block" src="/assets/twitter-icon.png" alt="Twitter"></a></span></li>
                <li><a href="#"><span><img class="img-responsive center-block" src="/assets/email-icon.png" alt="Email"></a></span></li>
                <li><a href="#"><span><img class="img-responsive center-block" src="/assets/cell-icon.png" alt="Call"></a></span></li>
              </ul>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div><!-- #wrap ends -->
