<div id="wrap">
  <div class="sliding-page row-offcanvas row-offcanvas-left">
    <%= render 'layouts/side_menu' %>
    <div class="right-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 paddingLR0">
            <%= image_tag("holachef_closed.jpg") %>
          </div>
        </div>
      </div>

    </div>
  </div>

</div><!-- #wrap ends -->
