<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Holachef</title>
  <link rel="shortcut icon" href="assets/favicon.png">
  <!--[if lt IE 9]>
  <script src="assets/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="desktop_custom.css">

  <script>
  var frame = document.getElementById("myframe").contentDocument.body;
  if(frame.offsetWidth > 800){
  frame.style.width = '800px';
  }
  </script>

</head>
<body>
<div id="wrap">
  <header id="header">
    <ul class="site-menu">
      <li class="active"><a data-scroll href="#hungry">I am hungry</a></li>
      <li><a data-scroll href="#i-m-chef">I am chef</a></li>
      <li><a data-scroll href="#i-m-chef">Contact us</a></li>
      <li><a data-scroll href="#how-it-works">How it works</a></li>
      <li><a href="#">blog</a></li>
    </ul>
    <div class="site-logo"><a href="#"><img src="assets/hola-logo-new.png" alt=""></a></div>
  </header>
  <div id="choose-to" class="section-ht gradient-half">
    <div class="table-wrap">
      <div class="table-top">
        <div class="table-item iphone"></div>
        <div class="i-m-hungry-text pull-left top-50"><a class="side-text orange-text" data-scroll href="#hungry">I'm hungry</a></div>
        <div class="i-m-chef-text pull-right top-50"><a class="side-text white-text" data-scroll href="#i-m-chef">I'm a chef</a></div>
      </div>
    </div>
  </div>
  <div class="table-bg" id="hungry">
    <div class="table-wrap">
      <div class="table-top lg-phone">
        <div class="table-item fork"></div>
        <div class="table-item knife"></div>
        <div class="table-item spoon"></div>
        <div class="table-item iphone">
          <div class="iframe-container">
            <iframe class="mobile-window" id="myframe" src="http://www.holachef.com/mobile" sandbox="allow-same-origin allow-forms allow-scripts" frameborder="0" seamless="seamless" style="width:358px;overflow: hidden; " ></iframe>
          </div>
        </div>
        <div id="scroll-down"><p class="text-center">Scroll to know more</p><a data-scroll href="#choose-to"><img id="scroll-icon" src="assets/scroll-down-btn.png" alt="Scroll Down"></a></div>
      </div>
    </div>
  </div>
  <div id="how-it-works" class="section-ht gradient-qrt-r">
    <div class="table-wrap">
      <div class="table-top">
        <div class="table-item iphone-details"></div>
        <a href="#i-m-chef" data-scroll><div class="table-item imchef"></div></a>
        <div class="i-m-hungry-text pull-left top-50"><a class="side-text orange-text" data-scroll href="#hungry">I'm hungry</a></div>
      </div>
    </div>
  </div>
  <div id="i-m-chef" class="section-ht gradient-qrt-l">
    <div class="table-wrap">
      <div class="table-top">
        <div class="table-item iphone-menu"></div>
        <a data-scroll href="#hungry"><div class="table-item imhungry"></div></a>
        <div class="i-m-chef-text pull-right"><a class="side-text orange-text" data-scroll href="#i-m-chef">I'm a chef</a>
          <p>If your home is always packed with guests because they can't get enough of your food; if you're always the one manning the barbecue at any pool party; If here's nothing more tempting for your children than what you whip  up in minutes, then you have  every quality we are looking for.</p>
          <strong>I want to join Holachef</strong>
          <div class="form-group orange-input">
            <input type="text" placeholder="Name">
            <input type="tel" placeholder="Mobile">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="I can cook..">
            <button type="button" class="btn-submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript" src="assets/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="assets/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/smooth-scroll.js"></script>
<script type="text/javascript">
    var didScroll;
    var lastScrollTop = 0;
    var delta = 5;
    var navbarHeight = $('header').outerHeight();

    $(window).scroll(function(event){
        didScroll = true;
    });

    setInterval(function() {
        if (didScroll) {
            hasScrolled();
            didScroll = false;
        }
    }, 250);
    function hasScrolled() {
        var st = $(this).scrollTop();
        if(Math.abs(lastScrollTop - st) <= delta)
            return;
        if (st > lastScrollTop && st > navbarHeight){
            $('header').removeClass('nav-down').addClass('nav-up');
        } else {
            if(st + $(window).height() < $(document).height()) {
                $('header').removeClass('nav-up').addClass('nav-down');
            }
        }
        lastScrollTop = st;
    }
    smoothScroll.init();
</script>
</body>
</html>
