<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Holachef</title>
  <%= stylesheet_link_tag "application" %>
  <link rel="shortcut icon" href="assets/images/favicon.png">
  <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <script src="assets/js/respond.min.js"></script>
  <![endif]-->
  <style type="text/css">
      .handphone {background: url('/assets/phone-hand.png') no-repeat;background-size:833px 948px;background-position: 130px 0;min-height: 948px;min-width: 1000px;background-attachment: initial;position: relative;}
      .external-content {width: 320px;height: 547px;position:absolute;top: 103px;left: 0;bottom: 0;right: 0;display: block;left: 515px;margin-top: 55px;right: 0;bottom: 0}
      .desktop-iframe {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width:100%;
          height:100%;
          border:0;
          display: block;
          overflow:hidden;
      }

  </style>
</head>

<body class="handphone">
<div class="external-content">
  <iframe class="desktop-iframe" sandbox="allow-same-origin allow-forms allow-scripts" seamless="seamless" src="<%=Settings.QA_DOMAIN_URL%>"></iframe>
</div>
<%= javascript_include_tag "application"%>
</body>
</html>