<div class="modal-dialog wide-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">x</button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title lato-l">How it Works?</h4>
          <div class="modal-scroll">
            <img class="img-responsive center-block" src="/assets/HowitWork.png" alt="">
          </div>
      </div>
    </div>
  </div>