
<div class="container">
<div class="row">
  <div class="col-xs-12 paddingLR0">
    <div id="hola-containerx  ">
      <% today_menu = collect_items(session[:cart]) if !session[:cart].nil? %>
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <% if @todays_menu %>
          <% CookingToday.meal_types.each do |meal_type| %>
            <%# next unless meal_available? (meal_type) %>
            <% meals_available = CookingToday.todays_menu_by_type(meal_type) %>
            <%= render "meal_items", menus: meals_available, category: meal_type, today_menu: today_menu unless meals_available.blank? %>
          <% end %>

      <% end %>

    </div>
    <input type="hidden" id="total_price" value= <%= calculate_total_price() %> />
    <div id="recipe-modal">
      <div class="modal fade bs-example-modal-sm" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
        <input type="hidden" id="selected_item" value="" />
        <input type="hidden" id="total_price" value="0" />

        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button data-dismiss="modal" class="btn-close pull-right">x</button>

            </div>
            <div class="modal-body"> <!-- below content changes from jquery -->
              <i class="modal-loading fa fa-spinner fa-spin"></i>
              <p class="form-control looks-input hidden" id="order-count">0</p>
            </div>
            <div class="modal-footer modal-form">

            </div>

          </div>
        </div>
      </div>
    </div> <!-- modal ends -->
  </div>
</div>
</div>
