<div class="random-imgs">
  <img class="bg-img" src="/assets/splash/food-1.jpg" alt="">
  <img class="bg-img" src="/assets/splash/food-2.jpg" alt="">
  <img class="bg-img" src="/assets/splash/food-3.jpg" alt="">
  <img class="bg-img" src="/assets/splash/food-4.jpg" alt="">

  <div class="white-splash">
    <div class="hola-logo">
      <img class="img-responsive center-block" src="/assets/hola-logo-xl.png" alt="">
    </div>

  </div>

</div>