<div class="modal-dialog wide-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">x</button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title lato-l">Service Areas</h4>
            <iframe src="/home/service_area_map" class="modal-map" scrolling="no" seamless="seamless" ></iframe>
      </div>
    </div>
  </div>