<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Mobile Number:</b> <%= @content_block.contact_no %></p>
<p><b>Email:</b> <%= @content_block.email %></p>
<p><b>Feedback:</b> <%= @content_block.feedback %></p>
