  <div class="container-fluid">
    <div class="grey-header">
        <h4 class="text-center text-uppercase">We'd love to hear from you !</h4>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-xs-5">
          <div class="form-group">
              <a href="tel:808080HOLA" class="btn btn-block btn-stroke"><i class="fa fa-phone"></i> 808080HOLA</a>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="form-group">
              <a href="mailto:feedus@holachef.com" class="btn btn-block btn-stroke"><i class="fa fa-envelope"></i> feedus@holachef.com</a>
          </div>
        </div>
    </div>

  <% if flash[:notice] %>
      <div class="successMsg"><%= flash[:notice] %></div>
  <% elsif @feedback && @feedback.errors.any? %>
      <div id="errorExplanation" class="errorExplanation">
        <ul>
          <% @feedback.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <%= form_tag "/feedback" , :id => 'talk-us-form' do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="normal-body">
            <div class="input-card">
              <textarea class="form-control validate[required]" rows="5" placeholder="Leave your feedback here..." name="feedback"></textarea>
            </div>
            <div class="input-card">
              <input type="text" class="form-control validate[required]" placeholder="Name" name="name">
            </div>
            <div class="input-card">
              <input type="text" class="form-control validate[required]" placeholder="Phone Number" name="contact_no"maxlength="13">
            </div>
            <div class="input-card">
              <input type="email" class="form-control validate[required]" placeholder="Enter your email" name="email">
            </div>
          <!--
          ************************************************   check design *************************************************
                - this below submit should be placed in footer, as per design.
          -->

            <div class="form-group seperator-15">
              <input type="submit" value="SUBMIT" class="btn btn-saffron" />
            </div>


          </div>
        </div>
      </div>
  <% end %>
</div>
<%#= render 'layouts/dynamik_footer', message: "We'd love to hear from you !" %>
