<div class="container-fluid back-white">
  <div class="row">
    <div class="col-xs-12">
      <div class="container">

        <ul class="booked-orders">
          <li class="food-bill">
            <span class="item-name">Meal</span>
            <span class="item-qty">Qty</span>
            <span class="item-cost">Cost</span>
          </li>
          <li class="food-bill">
            <span class="item-name">Kasmiri Chicken Biryani</span>
            <span class="item-qty">2</span>
            <span class="item-cost">360</span>
          </li>
          <li class="food-bill">
            <span class="item-name">HolaChef Lemonade</span>
            <span class="item-qty">5</span>
            <span class="item-cost">150</span>
          </li>

          <li class="food-bill">
            <span class="item-name">&nbsp;</span>
            <span class="item-qty">Total</span>
            <span class="item-cost">510</span>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div> <!-- fluid container ends -->
<div class="container-fluid back-white seperator-10">
  <div class="row">
    <div class="col-xs-12">
      <div class="container">

        <ul class="del-details">
          <li class="del-d del-header roboto">Delivery Details</li>
          <li class="del-d del-warning roboto">Orders are delivered in ~30min of placing order</li>
          <li class="del-d roboto"><input class="lower-only active" type="text" placeholder="Name" id="u-name" maxlength="50"></li>
          <li class="del-d roboto"><input class="lower-only" type="tel" placeholder="Phone Number" id="u-contact" maxlength="10"></li>
          <li class="del-d roboto"><input class="lower-only" type="text" placeholder="Address" id="u-address" maxlength="250"></li>
          <li class="del-d check-mark roboto text-center">
            <input class="css-checkbox" type="checkbox" id="save-del-details" checked="checked">
            <label class="css-label roboto" for="save-del-details">Save my details</label></li>
        </ul>

      </div>

    </div>
  </div>
</div> <!-- fluid container ends -->
<div class="floral-block"></div>
</div><!-- #wrap ends -->