<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Mobile Number:</b> <%= @content_block.mobile_number %></p>
<p><b>Email:</b> <%= @content_block.email %></p>
<p><b>Description:</b> <%= @content_block.description %></p>
