<div id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tap-text hidden text-orange"><p class="text-center">Tap on a Cart to Add/Remove</p></div>
        <ul class="chosen-options">
          <li class="billing" id="bill_amount">
            <%= calculate_total_price %>/-
          </li>
          <li class="checkout">
            <%= link_to "Checkout", '/review_order' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>