<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tap-text hidden text-orange"><p class="text-center">Tap on a Cart to Add/Remove</p></div>
        <ul class="chosen-options">
          <li class="billing" id="bill_amount"><a href="#">0/-</a></li>
          <li class="checkout"><a href="/review_order" id="checkout">Checkout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>