<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="hola-menu">
  <div class="container">
    <div class="navbar-header">
      <ul class="navbar-titlebar">
        <li class="side-menu-btn">
          <button type="button" class="navbar-toggle pull-left" id="sidebar-button" data-toggle="offcanvas" data-target="#sidebar">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </li>

        <li><a class="navbar-brand" data-toggle="offcanvas" data-target="#sidebar" href="javascript:void(0)">Hola</a></li>
        <li class="dropdown page-title" id="pg_title">
          <%= set_drop_down_title(params[:controller], params[:action], params[:id] ).html_safe %>
        </li>
      </ul>

        <div class="pull-right">
          <a href="<%= collect_cart_quantity ? '/review_order' : (@cart_quantity ? @cart_quantity : '#' ) %>" class="bag-count" id="bag-count">
           <%= collect_cart_quantity ? collect_cart_quantity : (@cart_quantity ? @cart_quantity : 0 ) %>
          </a>


          <%= link_to_if(request.env['PATH_INFO'] == '/add-address', "", "/review_order", :class => "btn-back text-hide") {link_to "Back", back_actions(params), :class => "btn-back text-hide" unless params[:controller] == "home" && params[:action] == "mobile"} %>
          </div>
    </div>
  </div>
</div> <!-- navbar ends -->
