<div id="footer" class="footer">
<div class='container'><div class='row'><div class='col-xs-12'><div class='tap-text'>
  <p class='text-center'><a class='text-orange' id='submit-order-button' href='#'>Select Payment Method</a></p>
  </div>
  <ul class='chosen-options hidden'>
  <li class='billing'><a href='#'>500/-</a></li>
  <li class='checkout'><a href='#'>Checkout</a></li>
  </ul></div></div></div></div>