<div class="left-nav sidebar-offcanvas hola-sidemenu" id="sidebar" role="navigation">
  <div class="list-group">
    <% if hola_current_user %>

      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading active" id="user-name"><%= hola_current_user.name.camelize %></h4>
        <p class="list-group-item-text " id="user-contact"><%= hola_current_user.phoneNumber %></p>
      </a>
    <% end %>
    <a href="/mobile" class="list-group-item"><span class="icon-xs icon-home"></span><span class="text">Home</span></a>
    <a href="/signature_dishes" class="list-group-item"><span class="icon-xs icon-signature"></span> <span class="text">Signature Dishes</span></a>

    <a href="#" class="list-group-item"><span class="icon-xs icon-party-order"></span> <span class="text">Party Orders</span></a>
    <a href="/recipes" class="list-group-item"><span class="icon-xs icon-recipe"></span> <span class="text">Recipes</span></a>
    <a href="/my_favorite_chefs" class="list-group-item"><span class="icon-xs icon-favorite"></span> <span class="text">Favourites</span></a>
    <a href="/order_histories" class="list-group-item"><span class="icon-xs icon-order-history"></span> <span class="text">Order History</span></a>
    <a href="/hola_user_addresses" class="list-group-item"><span class="icon-xs icon-address"></span> <span class="text">Addressbook</span></a>

    <a href="/talk_to_us" class="list-group-item"><span class="icon-xs icon-email"></span> <span class="text">Talk to us</span></a>
    <a href="/social_shares" class="list-group-item"><span class="icon-xs icon-share"></span> <span class="text">Love us?</span></a>

    <a href="#" class="list-group-item"><span class="icon-xs icon-gear"></span> <span class="text">Settings</span></a>

  </div>
</div>
