<div class="left-nav sidebar-offcanvas hola-sidemenu" id="sidebar" role="navigation">
  <div class="list-group">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading active" id="user-name">Abhishek Thakkar</h4>
      <p class="list-group-item-text " id="user-contact">9876543210</p></a>
    <a href="/" class="list-group-item"><span class="icon-xs icon-home"></span><span class="text">Home</span></a>
    <a href="#" class="list-group-item"><span class="icon-xs icon-signature"></span> <span class="text">Signature Dishes</span></a>
    <a href="#" class="list-group-item"><span class="icon-xs icon-party-order"></span> <span class="text">Party Orders</span></a>
    <a href="/recipes" class="list-group-item"><span class="icon-xs icon-recipe"></span> <span class="text">Recipes</span></a>
    <a href="/my_favorite_chefs" class="list-group-item"><span class="icon-xs icon-favorite"></span> <span class="text">Favorites</span></a>
    <a href="#" class="list-group-item"><span class="icon-xs icon-order-history"></span> <span class="text">Order History</span></a>
    <a href="#" class="list-group-item"><span class="icon-xs icon-address"></span> <span class="text">Addressbook</span></a>
    <a href="#" class="list-group-item"><span class="icon-xs icon-email"></span> <span class="text">Talk to us</span></a>
    <a href="#" class="list-group-item"><span class="icon-xs icon-share"></span> <span class="text">Love us?</span></a>
    <a href="#" class="list-group-item"><span class="icon-xs icon-gear"></span> <span class="text">Settings</span></a>
  </div>
</div>



